@import 'config';
@import 'responsive';

body{
    display: grid;
    justify-content: space-between;
    overflow-x: hidden;
}

.header{
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--title{
        font-size: 4rem;
        text-align: center;
    }
    &--score{
        padding: .3rem;
        width: 150px;

        font-size: 1.2rem;
        text-transform: uppercase;
        font-family: 'Roboto Mono', monospace;

        border: 1px solid #000;
        border-radius: .3rem;
    }
}

.informations{
    grid-row: 1/3;
    grid-column: 1;
    padding: 8% 0 0 8%;

    display: flex;
    flex-direction: column;
    text-overflow: hidden;

    user-select: none;
}

.play_pool{
    grid-row: 2;
    grid-column: 2;
    margin: 0 20px;

    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: 35px;
    justify-content: center;

    border: 1px solid #000;

    &--pools{
        background: #ddd;
        border: 1px solid #000;
    }
    &--player{
        background: #111;
        z-index: 3;
        transition: all .1s ease-in-out;
        margin: 5%;
    }
    &--tail{
        background: #222;
        z-index: 1;
        margin: 5%;
    }
    &--food{
        background: #f3c;
        z-index: 2;
        border-radius: 50%;
        margin: 25%;
        box-shadow: 0px 0px 12px 2px #f3f;

        animation-name: foodPulse;
        animation-duration: 3s;
        animation-delay: .5s;
        animation-iteration-count: infinite;
    }
    @keyframes foodPulse{
        from {margin: 25%;}
        50% {margin: 15%;}
        to {margin: 25%;}
    }
    &--score{
        font-size: 1.2rem;
        z-index: 4;
        border-radius: 10%;
        margin: 10%;
        background: #fff;
        transition: all .5s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
    }
}

.storages{
    grid-row: 1/3;
    grid-column: 3;
    padding: 8% 8% 0 0;

    display: flex;
    flex-direction: column;
    justify-content: top;

    &>:nth-child(n){
        margin-bottom: 5px;
    }
    &--info{
        margin-right: auto;
        font-weight: bold;
    }
    &--storage{
        background: transparent;
        border: 2px solid black;
        border-radius: 8px;
        user-select: none;
        outline: none;
        transition: all .2s ease-in;

        &-reset{
            border: 1px solid red;
            color: red;
            margin-top: 10px;
        }

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(1);
        }
    }
}

.settings{
    grid-row: 3;
    grid-column: 2;

    &__form{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;

        &--label{
            text-transform: uppercase;
        }
        &--range{
            margin-bottom: .5rem;
        }
        &--reset{
            margin-top: .5rem;
        }
    }
}

.end-box{
    z-index: 5;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;

    background: rgba($color: #fff, $alpha: .9);
    border: 2px solid #000;
    border-radius: 10%;
    font-size: 4rem;
    text-align: center;
    word-spacing: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--header{
        font-size: 4rem;
    }
    &--TOP-header{
        font-size: 3rem;
        font-weight: normal;
    }
    &__scores{
        display: grid;
        align-content: flex-start;
        grid-template-columns: 200px 200px;
        height: 300px;

        font-size: 1.2rem;

        &--score{
            text-transform: uppercase;

            &--added_score{
                color: green;
            }
        }
    }
}